# instead of setting these variables, you can use the aws cli:
# aws configure

allowed_ssh_cidr = "8.8.4.4/32"

aws_access_key = ""
aws_secret_key = ""

key_name = "id_rsa"
private_key_path = "~/.ssh/id_rsa"
